<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Services & Co</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CustomStyle.css') }}">

</head>

{% include "header.html" %}
<main>
    <body>
        <div class="nz-img">
            <h1>Welcome!</h1>
        </div>
        <div class="home-grid-container">
            <div>
                <img src="{{ url_for('static', filename='IMG_3019.jpeg') }}"
                class="border border-dark-subtle border-5 home-img facts"
                alt="Aged-care-worker photo">
            </div>

            <div>
                <p class="fs-4 content"> We are a booking service that enables parents and guardians to access the support that is needed for their children, 
                    relatives and loved ones with disability. We provide top of the line caregiver support and have a wide range of 
                    avaliable hours to ensure that your loved one has the support and care they need.
                </p>
            </div>

            <div>
                <button type="button" class="btn  btn-initial btn-hover menu">Book A Caregiver</button>
                <button type="button" class="btn btn-initial btn-hover menu">View Caregiver Avaliabilities</button>


            </div>

        </div>

    
    </body>
</main>

{% include "footer.html" %}
</html>