.purple-bg { 
    background-color: #7d56b0;  
}

.grey-bg {
    background-color: #cfcccc;
}

.button-width {
    width: 500px;
}

.home-img {
    width: 630px;
    height: auto
}


.anchor-wrapper {
    position: relative;
}

.book-a-caregiver-btn {
    position: absolute;
    top: 250px;
    left: 660px;

    width: 690px;
    height: 70px;
}

.view-caregiver-avaliability-btn {
    position: absolute;
    top: 350px;
    left: 660px;

    width: 690px;
    height: 70px;
}

.btn-outline-purple {
  color: #7d56b0;        
  border-color: #7d56b0; 
}

