body {
    display:flex;
    flex-direction: column; /*stacks all the elements vertically*/
    min-height: 100vh; /*sets the body to use all the viewport space*/
    margin: 0; /*allows body to start at top of section*/
}

main {
  flex: 1 0 auto; /* expands the main section to fill up all the space in the viewport */
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}








.purple-bg { 
    background-color: #7d56b0;  
}

.grey-bg {
    background-color: #cfcccc;
}

.button-width {
    width: 500px;
}

.home-img {
    width: 630px;
    height: auto
}

.anchor-wrapper {   /*makes children in section positioned relative*/
    position: relative;
}

.book-a-caregiver-btn {  /*defines position*/
    position: absolute;
    top: 250px;
    left: 660px;

    width: 690px;
    height: 70px;
}

.view-caregiver-avaliability-btn { /*defines position*/
    position: absolute;
    top: 350px;
    left: 660px;

    width: 690px;
    height: 70px;
}

.btn-initial {   /*button initial colour before hover*/
    background-color: #7d56b0;
    color:#ffffff;
    transition: transform 0.9 ease-in-out;

}

.btn-hover:hover{   /*button color change when mouse hovers*/
    transform: scale(1.04);
    background-color: #8e5daa;
    color:#ffffff;

}

.footer-space{
    margin-top: auto;
}


